*{
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    margin-top: 30px;
    padding: 10px;
    width: 200px;
}

.lining li {
    display: inline-block;
    width: 50px;
    height: 70px;
    background-color: #ffc0ed;
    color:#000000;
    text-align: center;
    line-height: 60px;
    margin: 10px;
}

.links a {
    display: block;
    background-color: #0004ff;
    color: white;
    padding: 20px;
    margin: 20px;
}

.blocks div {
    display: inline-block;
    background-color: #f70101;
    color: black;
    padding: 30px;
    margin: 20px;
}

.blocks .none{
    display: none;
}

.links-markers {
    background-color: #000000;
    width: 150px;
    padding-left: 30px;
}

.links-markers a {
    color: #ffffff;
    text-decoration:underline;
    padding: 5px;
    font-size: 20px;
    display:inline-block;
}

.post1, .post2 {
    margin: 30px;
    background-color: #930303;
    color: white;
    overflow: hidden;
}

.post1 .image, .post2 .image {
    height: 100px;
    width: 120px;
    background-image: url('../../../img/weather-sun.jpg'); 
    border-color: red;
}

.post1 .image {
    border-color: red;
    border-style: dashed;
    float: left;
    margin: 15px;
}

.post2 .image {
    border-color: red;
    border-style: dashed;
    float: right;
    margin: 15px;
}
